/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styles */
  #page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  #page-heading i {
    font-size: 48px;
    margin-right: 20px;
    color: #007bff;
  }
  
  /* List styles */
  .list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .list:hover {
    background-color: #f2f2f2;
  }
  
  .list p {
    margin: 0;
  }
  
  /* Form styles */
  form {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }
  